---
import Layout from "../layouts/Layout.astro";

type Ale = {
  id: string;
  name: string;
  rating: {
    average: number;
    reviews: number;
  };
  image: string;
};

const response = await fetch("https://api.sampleapis.com/beers/graphql", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
        {
            allAles {
                id
                name
                price
                rating
                image
            }
        }
        `,
  }),
});

const json = await response.json();
const ales: Ale[] = json.data.allAles;
---

<Layout title="Welcome to beer list.">
  <div>{ales.length} beers exists!</div>
  <ul>{ales.map((ale) => <li>{ale.name}</li>)}</ul>
</Layout>
